<section>
	<h3>About Myself</h3>
	<div class="about-section">
		<div class="face-img bg"></div>
		<div class="icon-movies">{% include icon-movies.html %}</div>
		<div class="icon-book">{% include icon-books.html %}</div>
		<div class="icon-mouse">{% include icon-mouse.html %}</div>
		<div class="icon-sports">{% include icon-sports.html %}</div>
	</div>
	<div class="about-text">
		<p>I'm <strong>Ankit Sinha</strong>, a Front-End developer.I live in Bangalore, India. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
	</div>
	<div class="skill-section clearfix">
		{% for skill in site.data.settings.skill %}
		<div class="skill-unit">
			<div class="skill-text">{{skill.name}}</div>
			<div class="skill-length skill-{{skill.value}}">
			<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
			</div>
		</div>
		{% endfor %}
	</div>
	
</section>