body{
	font-family:Open Sans, sans-serif;
}
h3{
	text-transform: uppercase;
	text-align:center;
	color: $accent-light;
	font-size:14px;
	padding: 100px 0 30px;
}
.about-section{
	max-width: 780px;
	display: flex;
	margin: 0 auto;
	align-items: center;
	justify-content: space-around;
}
.face-img{
	background: url(../img/my.png) center center;
	background-size: cover;
	height: 200px;
	width: 200px;
	order: 3;
	border-radius: 50%;
}
.bg{
	background-color: $bglight;
}
[class^="icon-"]{
	height: 50px;
	width: 50px;
	background: $bglight;
	border-radius: 50%;
	padding: 30px;
}
[class^="icon-"] path{
	fill: $accent;
}
[class^="icon-"] polygon{
	fill: $accent;
}
.icon-movies{
	order: 0;
}
.icon-books{
	order: 2;
}

.icon-mouse{
	order: 4;
}
.icon-sports{
	order: 5;
}
.about-text{
	max-width: 620px;
	padding: 0 15px;
	margin: 50px auto;
	line-height: 1.75em;
	font-size: 18px;
}
@media screen and (max-width: 650px){
	.about-section{
		display: block;
		text-align: center;
	}
	.about-section div{
			display: inline-block;
		}
	div.face-img{
		display: block;
		background-position: center center;
		background-repeat: no-repeat;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	[class^="icon-"]{
		margin: 10px;
	}
}
.skill-section{
	max-width: 540px;
	margin: 100px auto;
}
.skill-unit{
	width: 270px;
	float: left;
}
.skill-length{
	font-size: 0px;
	margin-bottom: 30px;
}
.skill-text{
	margin-bottom: 8px;
}
.skill-length span{
	background-color: $accent;
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-right: 5px;
	border-radius: 50%;
}
.skill-length span:before{
	display: block;
	content: "";
	width: 10px;
	height: 10px;
	background-color: white;
	border-radius: 50%;
	margin: 2px;
}
@for $i from 1 through 10{
.skill-#{$i} span:nth-child(n+#{$i+1}){
	@extend %skill-color;
	}
}
%skill-color{
	background-color:$bglight;
}
@media screen and(max-width: 540px){
	.skill-section{
		width: 270px;
	}
}