.work-section{
	background: $bglight;;
}
a{
	color:$accent;
}
a:hover{
	color:$accent-light;
}
.thumb-container{
	max-width:1000px;
	margin:0 auto;
	padding-bottom:100px;
}
.thumb-unit{
	width:25%;
	display:block;
	float:left;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding-top: 16%;
	overflow: hidden;
}
.thumb-container .thumb-overlay{
	position: absolute;
	top: 100%;
	bottom: null;
	left: 0px;
	right: 0px;
	background: #444;
	opacity: 1;
	height: 100%;
	transition: 1s;
}
.thumb-container :hover .thumb-overlay{
	top: 75%;
}
.thumb-container .thumb-overlay strong{
	padding-top: 4%;
	color: white;
	font-size: 14px;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-weight: 300;
	letter-spacing: 1px;
}
@media screen and (max-width: 750px){
	.thumb-unit{
	width:50%;
	padding-top: 26%;
	}
	.thumb-container .thumb-overlay strong{
	padding-top: 2%;
	font-size: 12px;
	}
}
